/*Se establece un tipo de letra para toda la pagina*/
*{
    font-family: 'Muli', sans-serif;
}


/*Se establece caracteristicas basicas de la pagina*/
body{
    background: #ECB581;
   margin: auto;
}

/*Tamaño para header y footer*/
.HyFtamano{
    width: 100%;
    height: 10%;
}

/*tamaño para el resto de secciones de la pagina*/
.tamano{
    width: 100%;
    height: 500px;
    
}


/*Se inicia trabajo de estilos en el header*/
#Encabezado {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0,0.7);
}
#Encabezado nav ul{
    display: flex;
    justify-content: flex-end;
    background: rgba(255, 255, 255, 0.26);;
    list-style: none;

}

#Encabezado nav ul a{
    text-decoration: none;
}

#Encabezado nav ul li{
    padding: 1rem;
    margin: 0.7rem;
    background: rgb(230, 114, 65);
}

#cuerpo{
    margin-top:6%;
}
/*Fin de trabajo de estilos en el header*/
/****************************************/


.tamano{
    width: 100%;
    height: 500px;
    margin-bottom: 1.5rem;
}

.HyFtamano{
    width: 100%;
    height: 10%;
}


#Inicio{
    background:rgba(255, 255, 255, 0.26);
    
}

#About{
    background:rgba(255, 255, 255, 0.26);
    display: flex;
}
.fotoAbout{
    
   width: 50%;
   height: 100%;
   background: url(Imagenes/dominik-scythe-MTO5SmPraX4-unsplash.jpg) center center

}
.contenidoAbout{
       
   width: 50%;
   height: 100%;
   background:rgba(255, 255, 255, 0.26);
}

#Profesores{
    display: flex;
}
.fotoProfes{
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.26);
}
.contenidoProfe{
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.26);
}
img{
    width: 20%;
}
#Estudiantes{
    background: rgba(255, 255, 255, 0.26);
}

#Estudiantes .fotoEstudiante{
    height: 50%;
}

#Contacto{
    background: rgba(255, 255, 255, 0.26);
}

#Activos{
    background: rgba(255, 255, 255, 0.26);
}
.container{
    display: flex;
    justify-content: center;
}
#Cursos{
    background: rgba(255, 255, 255, 0.26);
}

#Pie{
    bottom: 0;
    background: rgba(255, 255, 255, 0.26);
}

h1{
    text-align: center;
}